.avatar {
    border: 2px solid var(--color-scheme-alt);
    border-radius: 30px;
    padding: 12px;
    height: fit-content;
    position: relative;
}

.img {
    border-radius: 15px;
}

.online {
    background-color: #38cd3e;
    border-radius: 50%;
    border: 2px solid #fbfbfb;;
    position: absolute;
    top: 9px;
    right: 14px;
    z-index: 9999;
    width: 10px;
    height: 10px;
}

.mainDetails {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.nanny {
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 8px;
}

.detailsContainer {
    display: flex;
    gap: 48px;
}

.detailsList {
    display: flex;
    gap: 16px;
    align-items: start;
}

.listItem {
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
}

.locationIcon {
    margin-right: 8px;
}

.borderItem {
    padding-left: 16px;
    border-left: 1px solid rgba(17, 16, 28, 0.2);
}

.starIcon {
    fill: #ffc531;
    margin-right: 8px;
}

.price {
    color: #38cd3e;
}

.nannyDetails {
    margin-bottom: 19px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.detailItem {
    border-radius: 24px;
    padding: 8px 16px;
    background-color: var(--color-background);
}

.age {
    text-decoration: underline;
}

.span {
    color: #8a8a89;
}

.about {
   margin-bottom: 19px; 
}

.readMore {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    background-color: transparent;
}

.reviewList {
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.reviewerContainer {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
}

.reviewerFirstLetter {
    border-radius: 100px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-scheme-alt);
    color: var(--color-scheme);
    font-size: 20px;
    line-height: 100%;
}

.reviewerName {
    font-weight: 500;
    color: var(--main-text-color);
    margin-bottom: 4px;
}

.rating {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: var(--main-text-color);
}

.comment {
    font-weight: 400;
}

.btnAppointment {
    padding: 14px 28px;
    color: var(--color-background);
}