.title {
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}

.text {
    margin-bottom: 40px;
}

.nannieContainer {
    display: flex;
    gap: 14px;
    margin-bottom: 40px;
}

.img {
    border-radius: 15px;
}

.yourNanny {
    font-size: 12px;
    line-height: 133%;
    margin-bottom: 4px;
}

.name {
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    font-weight: 500;
}