.section {
    padding: 64px 128px 100px 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background);
}

.nanniesList {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
}

.nannyItem {
    border-radius: 24px;
    background-color: var(--color-background-aditional);
    padding: 24px;
    display: flex;
    gap: 24px;
}

.loadMoreBtn {
    border-radius: 30px;
    padding: 14px 40px;
    color: var(--color-background-aditional);
}

