.header {
    display: grid;
    background-color: var(--color-scheme);
    align-items: center;
    padding: 20px 128px;
    width: 100%;
    grid-template-columns: 1fr auto 1fr;
}

.homeHeader {
    background-color: transparent;
    border-bottom: 1px solid rgba(251, 251, 251, 0.4);
    padding-left: 96px;
    padding-right: 96px;
    justify-content: space-between;
}

.logo {
    justify-self: start;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: var(--color-background-aditional);
}

.homeLogo {
    margin-right: 487px;
}

.navigation {
    display: flex;
    gap: 40px;
    justify-self: center;
}

.navigationItem a {
    position: relative;
    padding-bottom: 4px;
}

.navigationItem a.active::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    background-color: var(--color-background-aditional);
    border-radius: 50%;
}

.navigationItem {
    color: var(--color-background-aditional);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.01em;
}

.authBtnList {
    margin-left: 92px;
    display: flex;
    gap: 8px;
    justify-self: end;
}

.authBtnItem {
    padding: 14px 39px;
    color: var(--color-background-aditional);
    border: 1px solid rgba(251, 251, 251, 0.4);
    background-color: transparent;
    min-width: 124px;
}

.register {
    background-color: var(--color-scheme);
}

.authList {
    display: flex;
    gap: 24px;
    justify-self: end;
}

.user {
    display: flex;
    gap: 14px;
    align-items: center;
}

.icon {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-aditional);
}

.userIcon {
    fill: var(--color-scheme);
}

.userName {
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
    color: var(--color-background-aditional);
}

.logoutBtn {
    border: 1px solid rgba(251, 251, 251, 0.4);
    padding: 14px 39px;
    font-weight: 500;
    color: var(--color-background-aditional);
}