.section {
    padding: 64px 128px 100px 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background);
}

.nanniesList {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
}

.nannyItem {
    border-radius: 24px;
    background-color: var(--color-background-aditional);
    padding: 24px;
    display: flex;
    gap: 24px;
}

.loadMoreBtn {
    border-radius: 30px;
    padding: 14px 40px;
    color: var(--color-background-aditional);
}

.filterContainer {
    align-self: flex-start;
}

.filter {
    font-size: 14px;
    line-height: 129%;
    margin-bottom: 8px;
}

.selector {
    border-radius: 14px;
    background-color: var(--color-scheme);
    padding: 14px 18px;
    width: 226px;
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    color: var(--color-background-aditional);
    margin-bottom: 46px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.selector:active,
.selector:hover,
.selector:focus {
    outline: none;
    background-color: var(--color-scheme);
    color: var(--color-background-aditional);
}

.dropdown {
    background-color: #fff;
    box-shadow: 0 20px 69px 0 rgba(0, 0, 0, 0.07);
    border-radius: 14px;
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    color: rgba(17, 16, 28, 0.3);
    padding: 8px 18px 12px 18px;
    position: absolute;
    top: 62px;
    left: 0;
    z-index: 9999;
    min-width: 100%;
}

.option {
    padding: 6px 0;
}

.option:hover {
    outline: none;
    cursor: pointer;
}

.option[data-state="checked"]{
    color: #11101c;
    outline: none;
}